@model XiaoHuLuMvcCore.Models.Explain

@{
    Layout = null;
    ViewData["Title"] = "Details";
}
<script src="~/js/jquery-3.1.1.js"></script>
<script src="~/css/wangEditor.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<style>
    dt {
   margin:0 auto;
   margin-bottom:10px
       
    }
    dd {
    margin: 0 auto;
    margin-bottom:10px
    
    }
</style>
<h2>Explain详情</h2>

<div>
    <h4>Explain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description) :
        </dt>
        <dd>
            @Html.Hidden("Description", Model.Description)
            <div id="div12">

            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var E = window.wangEditor
    var editor = new E('#div12')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()
    $(function () {
        var a = $("#Description").val()
        editor.txt.html(a)
    })



</script>