@model IEnumerable<XiaoHuLuMvcCore.Models.Explain>

@{
    ViewData["Title"] = "Index";
}

<h2>说明管理</h2>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<p>
    <a asp-action="Create" >添加一个新的</a>
    <button onclick="create()">添加</button>
</p>
<table class="table  table-striped" style="text-align:center;width:100%">
    <thead >
        <tr >
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th style="text-align:center">操作</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @if (item.Description.Length > 10)
                {
                    var str = item.Description.Substring(0, 10);
                   <span>@str  *******</span>
                }
                else
                {
                @Html.DisplayFor(modelItem => item.Description)
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("详情", "Details", new { id = item.Id }) 
               
            </td>
        </tr>
}
    </tbody>
</table>
<script>    
    function create() {
        document.location.href = '/explain/create';

    }
 
</script>
