
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<XiaoHuLuMvcCore.Models.Authority.UsersInfo>
<h2>管理员信息页面</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>用户密码</th>
            <th>角色</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            </td>
        </tr>
        }
    </tbody>
</table>

