<!DOCTYPE html>
@{
    Layout = null;
}
@model Models.QuestionBank.QuestionBankinherit
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/zy.all.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <script src="~/js/jquery-1.7.2.min.js"></script>
    <script src="~/js/jquery-form.js"></script>
</head>
<body>
    <div id="divapp" class="dvcontent">
        <div>
            <!--tab start-->
            <div class="tabs">
                <div class="hd">
                    <ul>
                        <li class="on" style="box-sizing: initial;-webkit-box-sizing: initial;">修改考题</li>
                    </ul>
                </div>
                <div class="bd">
                    <ul class="theme-popbod dform" style="display: none;">
                        <div class="am-cf admin-main" style="padding-top: 0px;">
                            <!-- content start -->

                            <div class="am-cf admin-main" style="padding-top: 0px;">
                                <!-- content start -->
                                <div class="admin-content">
                                    <div class="admin-content-body">

                                        <div class="am-g">
                                            <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">

                                            </div>
                                            <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4"
                                                 style="padding-top: 30px;">
                                                <form class="am-form am-form-horizontal" enctype="multipart/form-data" action="/QuestionBank/ADDQuestionBank" method="post">
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            题目 / Subject
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input type="text" id="Subject" required value="@Model.Subject"
                                                                   placeholder="题目 / Subject" name="Subject">
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            题型 / TypeOfExam
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <select id="TypeOfExam" name="TypeOfExam">
                                                                <option v-for="item in textType" v-bind:value="item.ID">{{item.ExamType}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            图片 / Photo
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input type="file" id="formFile"
                                                                   placeholder="图片 / Photo" name="formFile">
                                                            <img src="@Model.Photo" alt="暂无图片" />
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            答案A / AnswerA
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input type="text" id="AnswerA" required value="@Model.AnswerA"
                                                                   placeholder="答案A / AnswerA" name="AnswerA">
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            答案B / AnswerB
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input type="text" id="AnswerB" required value="@Model.AnswerB"
                                                                   placeholder="答案B / AnswerB" name="AnswerB">
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            答案C / AnswerC
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input type="text" id="AnswerC" value="@Model.AnswerC"
                                                                   placeholder="答案C / AnswerC" name="AnswerC">
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            答案D / AnswerD
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input type="text" id="AnswerD" value="@Model.AnswerD"
                                                                   placeholder="答案D / AnswerD" name="AnswerD">
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            答案E / AnswerE
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input type="text" id="AnswerE" value="@Model.AnswerE"
                                                                   placeholder="答案E / AnswerE" name="AnswerE">
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            正确答案 / Answer
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input type="text" id="Answer" required value="@Model.Answer"
                                                                   placeholder="正确答案 / Answer" name="Answer">
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <label for="user-name" class="am-u-sm-3 am-form-label">
                                                            是否启用 / Enable
                                                        </label>
                                                        <div class="am-u-sm-9">
                                                            <input id="Radio1" type="radio" name="Enable" checked="checked" value="1" />启用
                                                            <input id="Radio1" type="radio" name="Enable" value="0" />禁用
                                                        </div>
                                                    </div>
                                                    <div class="am-form-group">
                                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                                            <input id="btnadd" onclick="btn_save()" type="submit" class="am-btn am-btn-success" value="添加用户" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- content end -->
                            </div>
                            <!--添加角色 end-->
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/Jqueryplugs.js"></script>
    <script src="~/js/_layout.js"></script>
    <script src="~/js/jquery.SuperSlide.source.js"></script>
    <script>
        $(function () {
            $(".tabs").slide({ trigger: "click" });

            $('#TypeOfExam').value = @Model.TypeOfExam
        });
        function btn_save() {
            var Subject = $("#Subject").val();
            var TypeOfExam = $("#TypeOfExam").val();
            var AnswerA = $("#AnswerA").val();
            var AnswerB = $("#AnswerB").val();
            var AnswerC = $("#AnswerC").val();
            var AnswerD = $("#AnswerD").val();
            var AnswerE = $("#AnswerE").val();
            var Answer = $("#Answer").val();
            var fileUpload = $("#formFile").get(0);
            var files = fileUpload.files;
            var data = new FormData();
            //for (var i = 0; i < files.length; i++) {
            //    data.append(files[i].name, files[i]);
            //}
            data.append(files[0].name, files[0]);
            $.ajax({
                type: "post",
                url: "/QuestionBank/ADDQuestionBank",
                data: {
                    questionBankinherit, data
                },
                success: function (data) {
                    if (data > 0) {
                        $.jq_Alert({
                            message: "添加成功",
                            btnOktext: "确认",
                            dialogModal: true,
                            btnOkClick: function () {
                                //$("#RawMaterialsTypeName").val("");
                                //$("#RawMaterialsTypeDescription").val("");
                                //$("#Ramark").val("");
                                //page1();
                                location.reload();
                            }
                        });
                    }
                }
            });
        }
        var btn_edit = function (id) {
            $.jq_Panel({
                url: "/RawMaterialsType/EditRawMaterialsType?id=" + id,
                title: "编辑分类",
                dialogModal: true,
                iframeWidth: 500,
                iframeHeight: 400
            });
        }
    </script>
    <script>
        var divapp = new Vue({
            el: '#divapp',
            data: {
                info: null,
                textType: null
            },
            mounted: function () {
                var that = this;
                axios({
                    url: "/QuestionBank/GetQuestionBank",
                    method: "get"
                }).then(function (res) {
                    that.info = res.data;
                }),
                    axios({
                        url: "/QuestionBank/GetTextType",
                        method: "get"
                    }).then(function (res) {
                        console.log(res.data)
                        that.textType = res.data;
                    })
            },
        })
    </script>
</body>
</html>
